<body>
  <div class="container">
    <%= link_to 'Back', :back %>

    <h1>New animal species for <%= @animal_species.name %> </h1>

    <%= form_for AnimalBreed.new, as: :animal_breed, url: animal_specy_animal_breed_create_path(:animal_breed, animal_specy_id: @animal_species.id), method: :post do |f| %>
      <div class="form-group">
        <%= label_tag(:name, "Name: ") %>
        <%= f.text_field :name, :required => true %>
      </div>
      <%= f.hidden_field :animal_species_id, value: @animal_species.id %>
      <%= submit_tag('Create', :class => "btn btn-primary") %>
    <% end %>

    <br><%= link_to 'Back', :back %>
  </div>
</body>
