<% disabled ||= false %>

<%= form_for request, url: path, method: :post do |f| %>
  <% if disabled %>
    <fieldset disabled>
  <% end %>
  <%= f.hidden_field(:animal_id, :value => @animal_id) %>
  <!-- Personal fields -->
  <div class="form-group">
    <%= label_tag(:country, "Country: ") %>
    <%= select_tag "request[country]", options_for_select(@countries, @current_country), required: true %>
  </div>
  <div class="form-group">
    <%= label_tag(:job_position, "Job Position: ") %>
    <%= f.text_field :job_position %>
  </div>
  <div class="form-group">
    <%= label_tag(:job_address, "Job Address: ") %>
    <%= f.text_field :job_address %>
  </div>
  <div class="form-group">
    <%= label_tag(:job_phone, "Job Phone: ") %>
    <%= f.text_field :job_phone %>
  </div>
  <div class="form-group">
    <%= label_tag(:family_members, "Please list the name and age of all the members that will live with #{@animal.name}:") %>
    <%= f.text_field :family_members %>
  </div>
  <div class="form-group">
    <%= label_tag(:all_agree, "All the people that live in your house agree to adopt a new pet?: ") %>
    <%= f.label :all_agree, "Yes", :value => true  %>
    <%= radio_button("request", "all_agree", "true") %>
    <%= f.label :all_agree, "No", :value => false  %>
    <%= radio_button("request", "all_agree", "false") %>
  </div>
  <div class="form-group">
    <%= label_tag(:type_of_home, "Choose the type of home where you live: ") %>
    <%= f.label :type_of_home, "House in the city", :value => "house"  %>
    <%= radio_button("request", "type_of_home", "house") %>
    <%= f.label :type_of_home, "Apartment", :value => "apartment"  %>
    <%= radio_button("request", "type_of_home", "apartment") %>
    <%= f.label :type_of_home, "House out of the city", :value => "finca"  %>
    <%= radio_button("request", "type_of_home", "finca") %>
  </div>
  <div class="form-group">
    <%= label_tag(:own_home, "Is the house/apartment where you live of your own property?: ") %>
    <%= f.label :own_home, "Yes", :value => true  %>
    <%= radio_button("request", "own_home", "true") %>
    <%= f.label :own_home, "No", :value => false  %>
    <%= radio_button("request", "own_home", "false") %>
  </div>
  <div class="form-group">
    <%= label_tag(:puppy, "Do you prefer a puppy?: ") %>
    <%= f.label :puppy, "Yes", :value => true  %>
    <%= radio_button("request", "puppy", true) %>
    <%= f.label :puppy, "No", :value => false  %>
    <%= radio_button("request", "puppy", false) %>
  </div>
  <div class="form-group">
    <%= label_tag(:other_pets, "Do you have other pets?: ") %>
    <%= f.label :other_pets, "Yes", :value => true  %>
    <%= radio_button("request", "other_pets", true) %>
    <%= f.label :other_pets, "No", :value => false  %>
    <%= radio_button("request", "other_pets", false) %>
  </div>
  <div class="form-group">
    <%= label_tag(:different_pet, "What kind of pets?: ") %>
    <% @other_types.each do |id, type| %>
      <%= f.check_box :different_pet, {multiple: true}, type, nil %>
      <%= f.label type %>
    <% end %>
  </div>
  <div class="form-group">
    <%= label_tag(:place_to_be, "Where is #{@animal.name} going to be during the day?") %>
    <%= f.text_field :place_to_be %>
  </div>
  <div class="form-group">
    <%= label_tag(:place_to_sleep, "Where is #{@animal.name} going to sleep?") %>
    <%= f.text_field :place_to_sleep %>
  </div>
  <div class="form-group">
    <%= label_tag(:has_garden, "Does your house/apartment has a garden?: ") %>
    <%= f.label :has_garden, "Yes", :value => true  %>
    <%= radio_button("request", "has_garden", "true") %>
    <%= f.label :has_garden, "No", :value => false  %>
    <%= radio_button("request", "has_garden", "false") %>
  </div>
  <div class="form-group">
    <%= label_tag(:can_escape, "Is there a way where #{@animal.name} can escape?: ") %>
    <%= f.label :can_escape, "Yes", :value => true  %>
    <%= radio_button("request", "can_escape", "true") %>
    <%= f.label :can_escape, "No", :value => false  %>
    <%= radio_button("request", "can_escape", "false") %>
  </div>
  <% if disabled %>
    </fieldset>
  <% else %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
