<body>
  <div class="container">
    <%= link_to 'Back', :back %>

    <h1>New animal</h1>

    <%= form_for Animal.new, as: :animal, url: animal_create_path(:animal), method: :post do |f| %>
      <% if @errors.present? && @errors.full_messages.any? %>
        <% @errors.full_messages.each do |error_message| %>
          <%= error_message if @errors.full_messages.first == error_message %> <br />
        <% end %>
      <% end %>
      <div class="form-group">
        <%= label_tag(:name, "Name: ") %>
        <%= f.text_field :name, :required => true %>
      </div>
      <div class="form-group">
        <%= label_tag(:gender, "Gender: ") %>
        <%= f.text_area :gender, :required => true %>
      </div>
      <div class="form-group">
        <!-- TODO: change breed after selecting type of animal -->
        <%= label_tag("animal_type_id", "Type: ") %>
        <%= select_tag "animal_type_id", options_from_collection_for_select(@animal_species, 'id', 'name', '1'), include_blank: true %>
      </div>
      <div class="form-group">
        <%= label_tag("animal[animal_breeds_id]", "Breed: ") %>
        <%= select_tag "animal[animal_breeds_id]", options_from_collection_for_select(@animal_breeds, 'id', 'name', '1'), include_blank: true %>
      </div>
      <div class="form-group">
        <%= label_tag(:rescued, "Rescued: ") %>
        <%= f.check_box :rescued, :required => false %>
      </div>
      <div class="form-group">
        <%= label_tag(:birthdate_rescuedate, "Date of rescue/birth: ") %>
        <%= f.date_field :birthdate_rescuedate, :required => true %>
      </div>

      <div class="form-group">
        <%= label_tag(:adopted, "Adopted: ") %>
        <%= f.check_box :adopted, :required => false %>
      </div>
      <div class="form-group">
        <%= label_tag(:adoption_date, "Date of adoption: ") %>
        <%= f.date_field :adoption_date, :required => false %>
      </div>
      <div class="form-group">
        <%= label_tag(:profile_picture, "Profile picture: ") %>
        <%= f.url_field :profile_picture, :required => true %>
      </div>
      <%= submit_tag('Create', :class => "btn btn-primary") %>
    <% end %>

    <br><%= link_to 'Back', :back %>
  </div>
</body>
