<body>
  <div class="container">
    <%= link_to 'Back', :back %>

    <h1>New animal</h1>

    <%= form_for Animal.new, as: :animal, url: animal_create_path(:animal), method: :post do |f| %>
      <div class="form-group">
        <%= label_tag(:name, "Name: ") %>
        <%= f.text_field :name, :required => true %>
      </div>
      <div class="form-group">
        <%= label_tag(:gender, "Gender: ") %>
        <%= f.text_area :gender, :required => true %>
      </div>
      <div class="form-group">
        <%= label_tag(:rescued, "Rescued: ") %>
        <%= f.check_box :rescued, :required => false %>
      </div>
      <div class="form-group">
        <%= label_tag(:birthdate_rescuedate, "Date of rescue/birth: ") %>
        <%= f.date_field :birthdate_rescuedate, :required => true %>
      </div>

      <div class="form-group">
        <%= label_tag(:adopted, "Adopted: ") %>
        <%= f.check_box :adopted, :required => false %>
      </div>
      <div class="form-group">
        <%= label_tag(:adoption_date, "Date of adoption: ") %>
        <%= f.date_field :adoption_date, :required => false %>
      </div>
      <%= submit_tag('Create', :class => "btn btn-primary") %>
    <% end %>

    <br><%= link_to 'Back', :back %>
  </div>
</body>
