<body>
  <div class="container">
    <%= link_to 'Back', :back %>
      <h1> <%= @animal.name %> </h1>
      <br>
      <img src=<%= @animal.profile_picture %> >
      <br>
      <span><strong>Created at: </strong><%= @animal.created_at %> </span><br>

      <p><%= @animal.gender.html_safe if @animal.gender.present? %></p>

      <% if @animal.adopted %>
        <p><span><strong>Adopted</strong> on <%= @animal.adoption_date %></span></p>
      <% else %>
        <p><span><strong>Waiting for a new home</strong></span></p>
      <% end %>
    <%= link_to 'Back', :back %>
  </div>
</body>
