<div class="container">
  <%= link_to 'Back', animals_path %>
  <div class="jumbotron">
    <h1 class="display-3"><%= @animal.name %></h1>
    <p class="lead">
      <% if @animal.female? %>
        <%= fa_icon "venus", class: "text-muted pull-left" %>
      <% end %>
      <% if @animal.male? %>
        <%= fa_icon "mars", class: "text-muted pull-left" %>
      <% end %>
      <span><strong>Here since: </strong><%= @animal.created_at %> </span><br>
      <% if @animal.adopted %>
        <p><span><strong>Adopted</strong> on <%= @animal.adoption_date %></span></p>
      <% else %>
        <p><span><strong>Waiting for a new home</strong></span></p>
      <% end %>
    </p>
    <hr class="my-4">
    <p><%= simple_format @animal.description %></p>
    <% unless @animal.adopted %>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="<%= new_request_path(animal_id: @animal.id) %>" role="button">Adopt me here</a>
      </p>
    <% end %>
    <img src=<%= @animal.profile_picture %> width="100%">
  </div>
  <%= link_to 'Back', animals_path %>
</div>
