<body>
  <div class="container">
    <%= link_to 'Back', animal_species_path %>

    <h1>Update animal species</h1>

    <%= form_for @animal_species, as: :animal_specy, url: animal_specy_update_path(@animal_species.id), method: :patch do |f| %>
      <div class="form-group">
        <%= label_tag(:name, "Name: ") %>
        <%= f.text_field :name, :required => true %>
      </div>
      <%= submit_tag('Update', :class => "btn btn-primary") %>
    <% end %>

    <br><%= link_to 'Back', animal_species_path %>
  </div>
</body>
