<% disabled ||= false %>

<%= form_for @request, url: wizard_path, method: :patch do |f| %>
  <% if disabled %>
    <fieldset disabled>
  <% end %>
  <%= f.hidden_field(:animal_id, :value => @animal_id) %>
  <%= f.hidden_field(:email, :value => current_user.email) %>
  <%= f.hidden_field(:form_status, :value => 'job') %>
  <div class="form-group">
    <%= label_tag(:job_position, "Job Position: ") %>
    <%= f.text_field :job_position %>
  </div>
  <div class="form-group">
    <%= label_tag(:job_address, "Job Address: ") %>
    <%= f.text_field :job_address %>
  </div>
  <div class="form-group">
    <%= label_tag(:job_phone, "Job Phone: ") %>
    <%= f.text_field :job_phone %>
  </div>
  <% if disabled %>
    </fieldset>
  <% else %>
    <div class="actions">
      <%= f.submit "Next" %>
    </div>
  <% end %>
<% end %>
