<% disabled ||= false %>

<%= form_for @request, url: wizard_path, method: :patch do |f| %>
  <% if disabled %>
    <fieldset disabled>
  <% end %>
  <%= f.hidden_field(:animal_id, :value => @animal_id) %>
  <%= f.hidden_field(:email, :value => current_user.email) %>
  <%= f.hidden_field(:form_status, :value => 'living_space') %>

  <div class="form-group">
    <%= label_tag(:type_of_home, "Choose the type of home where you live: ") %>
    <%= f.label :type_of_home, "House in the city", :value => "house"  %>
    <%= radio_button("request", "type_of_home", "house") %>
    <%= f.label :type_of_home, "Apartment", :value => "apartment"  %>
    <%= radio_button("request", "type_of_home", "apartment") %>
    <%= f.label :type_of_home, "House out of the city", :value => "finca"  %>
    <%= radio_button("request", "type_of_home", "finca") %>
  </div>
  <div class="form-group">
    <%= label_tag(:own_home, "Is the house/apartment where you live of your own property?: ") %>
    <%= f.label :own_home, "Yes", :value => true  %>
    <%= radio_button("request", "own_home", "true") %>
    <%= f.label :own_home, "No", :value => false  %>
    <%= radio_button("request", "own_home", "false") %>
  </div>
  <div class="form-group">
    <%= label_tag(:place_to_be, "Where is #{@animal.name} going to be during the day?") %>
    <%= f.text_field :place_to_be %>
  </div>
  <div class="form-group">
    <%= label_tag(:place_to_sleep, "Where is #{@animal.name} going to sleep?") %>
    <%= f.text_field :place_to_sleep %>
  </div>
  <div class="form-group">
    <%= label_tag(:has_garden, "Does your house/apartment has a garden?: ") %>
    <%= f.label :has_garden, "Yes", :value => true  %>
    <%= radio_button("request", "has_garden", "true") %>
    <%= f.label :has_garden, "No", :value => false  %>
    <%= radio_button("request", "has_garden", "false") %>
  </div>
  <div class="form-group">
    <%= label_tag(:can_escape, "Is there a way where #{@animal.name} can escape?: ") %>
    <%= f.label :can_escape, "Yes", :value => true  %>
    <%= radio_button("request", "can_escape", "true") %>
    <%= f.label :can_escape, "No", :value => false  %>
    <%= radio_button("request", "can_escape", "false") %>
  </div>

  <% if disabled %>
    </fieldset>
  <% else %>
    <div class="actions">
      <%= f.submit "Next" %>
    </div>
  <% end %>
<% end %>
